.Footer h3 {
	background-color: rgb(243, 250, 234);
	color: black;
	font-family: 'Poppins', sans-serif;
	height: 60px;
	padding-top: 10px;
	margin: 0;
	text-align: center;
	user-select: none;
	font-weight: 200;
}

.Footer a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(224, 126, 237);
}

.Footer a:hover {
	color: rgb(215, 175, 240);
}

@media screen and (max-width: 750px) {
	.Footer h3 {
		font-size: 14px;
		text-decoration: none;
	}
}
