@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Space+Mono:wght@400;700&display=swap');

.Footer h3 {
	background-color: rgb(243, 250, 234);
	color: black;
	font-family: 'Poppins', sans-serif;
	height: 60px;
	padding-top: 10px;
	margin: 0;
	text-align: center;
	user-select: none;
	font-weight: 200;
}

.Footer a {
	font-weight: 300;
	text-decoration: none;
	color: rgb(235, 132, 228);
}

.Footer a:hover {
	color: rgb(249, 179, 244);
}
