.logo {
	width: 50px;
	height: 50px;
	margin: 20px 50px;
}

.Header {
	font-family: 'Space Mono', monospace;
	padding: 20px;
}

.logo,
.Header {
	background-color: rgb(243, 250, 234);
}

.Header a {
	text-decoration: none;
}

.Header h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 50px;
	color: rgb(0, 0, 0);
}

.Header h1:hover {
	color: rgb(233, 206, 225);
}

.Header p {
	margin-top: 15px;
	color: #6272e5;
	text-decoration: rgb(158, 151, 247) overline;
}

.logo,
.Header p,
.Header h1 {
	user-select: none;
}

.logo:hover {
	padding: 10px;
	margin: 9px;
	border-radius: 50px;
	background-color: rgb(218, 215, 248);
	border: 1px solid rgb(158, 151, 247);
}

@media screen and (max-width: 750px) {
	.logo {
		width: 45px;
		height: 45px;
		margin: 20px 50px;
	}
	.Header h1 {
		font-size: 25px;
		text-decoration: none;
	}
	.Header p {
		font-size: 13px;
		padding: 5px;
		text-decoration: none;
	}
}

@media screen and (max-width: 1240px) {
	.Header p {
		text-decoration: none;
	}
}
