@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Space+Mono:wght@400;700&display=swap');

.main {
	background-color: rgb(243, 250, 234);
	user-select: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.container {
	text-align: center;
}

.columns {
	column-count: auto;
	column-width: 300px;
	column-gap: inherit;
	padding: 50px;
}

.card {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	background: #fefeff;
	border: 3px solid #d5cef9;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px 10px 15px;
	display: inline-block;
}

.card:hover {
	transition: background-color 1s ease-out 100ms;
	background-color: #f1e9f9;
}

.card Image {
	display: block;
	width: 100%;
	padding-bottom: 15px;
	visibility: hidden;
	margin-bottom: 5px;
}

.imgWrap {
	max-width: 100%;
	position: relative !important;
}

.tagImages {
	display: flex;
	flex-wrap: wrap;
}

.imgTag {
	max-width: 20rem;
	height: auto !important;
	position: relative !important;
}

.card a {
	text-decoration: none;
}

.card p {
	font-size: 0.8rem;
	color: #000;
	line-height: 1.3;
	margin: 1rem;
	text-align: left;
}

.card h3 {
	user-select: text;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3rem;
	color: rgb(94, 115, 237);
	line-height: 1.2;
}

.card h3:hover {
	color: rgb(163, 174, 237);
	font-weight: bolder;
}

.card h3::selection {
	background-color: transparent;
}

.card h5 {
	font-family: 'Space Mono', monospace;
	color: rgb(255, 255, 255);
	padding: 3px;
	margin: 2px;
	font-size: 0.8rem;
	font-weight: normal;
	background-color: rgb(94, 125, 247);
	border: rgb(92, 79, 202) 1px solid;
	display: inline;
}

.card h5:hover {
	font-weight: bold;
	color: #b9f8de;
}

.card:hover {
	border: 3px solid #7272f4;
}

.tags {
	margin: 2rem 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 750px) {
	.columns {
		column-gap: 0px;
		padding: 0;
	}
	.columns card {
		width: 100%;
	}
}
