@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Space+Mono:wght@400;700&display=swap');

.main {
	background-color: rgb(243, 250, 234);
}

.container {
	text-align: center;
	border: rgb(182, 197, 244) 20px solid;
}

.tab {
	font-family: 'Poppins', sans-serif;
}

.tab > ul {
	list-style-type: none;
	margin: 0px;
	/* width: 50%; */
	padding: 5px 50px;
}

.tab > ul li {
	text-align: left;
	margin: 10px 0px;
}

.tab > ul:nth-child(1) li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.tab h3 {
	user-select: text;
	font-family: 'Space Mono', monospace;
	font-size: 1rem;
	color: rgb(94, 115, 237);
	line-height: 1.2;
}

.tab h3::selection {
	background-color: rgb(208, 196, 244);
}

.tab h4 {
	font-family: 'Space Mono', monospace;
	font-size: 0.75rem;
	padding: 3px;
	color: rgb(0, 0, 0);
	line-height: 1.5;
}

.tab h5 {
	font-family: 'Space Mono', monospace;
	color: rgb(255, 255, 255);
	padding: 3px;
	margin: 2px;
	font-size: 0.7rem;
	font-weight: normal;
	background-color: rgb(94, 125, 247);
	border: rgb(92, 79, 202) 1px solid;
	border-radius: 5%;
	display: inline;
}

@media screen and (max-width: 750px) {
	.columns {
		column-gap: 0px;
	}
	.columns card {
		width: 100%;
	}
}
