.TagHeader {
	font-family: 'Space Mono', monospace;
	background-color: rgb(243, 250, 234);
	padding: 20px;
}

.TagHeader h1 {
	user-select: none;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 40px;
	color: rgb(189, 188, 240);
}

.TagHeader a {
	text-decoration: none;
}

.TagHeader h1:hover {
	color: rgb(233, 206, 225);
}

@media screen and (max-width: 750px) {
	.TagHeader h1 {
		font-size: 30px;
		text-decoration: none;
	}
}
